---
import { Card } from "@astrojs/starlight/components";

interface Option {
  content: string;
  isCorrect: boolean;
}

interface Props {
  id: string;
  content: string;
  options: Option[];
}

const options = Astro.props.options;
const question = Astro.props.content;
const questionId = Astro.props.id;

const isSingleChoice =
  options.filter((option) => option.isCorrect).length === 1;

const verifyAnswer = () => {};
---

<Card title={question}>
  <ul>
    {
      options.map((option, index) => (
        <li>
          <input
            type={isSingleChoice ? "radio" : "checkbox"}
            name="quiz"
            id={`${questionId}-option-${index}`}
          />
          <label for={`${questionId}-option-${index}`}>{option.content}</label>
        </li>
      ))
    }
  </ul>
</Card>
